.title:nth-child(even) {
    background-color: var(--bs-gray-100);
}
.title:nth-child(even) a {
    color: black;
    background-color: white;
}
.title:nth-child(even) .words {
    background-color: white;
}
.title:nth-child(odd) .words {
    background-color: var(--bs-gray-100);
}

.link-to {
    text-decoration: none;
    color: inherit;
    outline: 0;
}
.link-to:hover {
    text-decoration: solid;
    text-shadow: 10px;
    font-weight: 400;
    font-size: 1.01em;
    color: black;
}
