<%= turbo_frame_tag post_stats_path(post.id).parameterize do %>
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-wrap">
				<% stats.top.each do |word, count| %>
					<div class="border border-1 rounded-2 m-2 px-4 py-2 position-relative words">
						<p class="mb-0">
							<%= word.upcase %>
							<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-dark bg-opacity-50">
								<%= count %>
							</span>
						</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
